name: Build & Publish Backend Docker

on:
  push:
    paths:
      - 'backend/**'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Build docker image
        run: docker build -t katya_frog_backend:latest backend
      - name: Save image artifact
        uses: actions/upload-artifact@v4
        with:
          name: backend-image
          path: /tmp/katya_frog_backend_image.tar || true
